<ons-page>
	<ons-toolbar>
		<div class="left">
			<img class="nav-image-icon" src="/img/hamburger.png" />
		</div> <img class="center bold" src="/img/logo_v2.svg" alt="I did it Logo" id="logo-nav">
		<div class="right">
			<img class="nav-image-icon" src="/img/alarm.png" />
		</div>
	</ons-toolbar>
	<div class="title-section center-text">
		<span class='center-text user-name-box' id="user-name">sy99010</span><span class='center-text grey-text'>님의 모바일
			운전면허증</span>
	</div>
	<ons-card class='main-card'>
		<div class="card-title-section">
			<p class="card-title">MOBILE DRIVER LICENSE</p>
			<p class="card-description">Republic Of Korea</p>
		</div>
		<p class='center-text user-name-box' id="user-name">sy99010</p>
		<div id="qrcode"></div>

		<p class='center-text grey-text'>0x189070ea70709b89707d07ee</p>
	</ons-card>
	<div class="cta-section">
		<button class="button main-cta-button">복사하기</button>
	</div>
</ons-page>

<div class="drawer-section">
	<div class="drawer-user-section">
		<span class="user-name user-name-box" id="user-name">sy99010</span>
		<div class="user-section-right">
			<img class="nav-image-icon" src="/img/alarm.png" />
		</div>
	</div>
	<div class="drawer-body">
		<ul class="list">
			<li class="list-item" id="home-menu">
				<div class="list-item__left">
					<img class="list-item__thumbnail" src="/img/home.png" alt="Cute kitten">
					<div class="list-item__title">HOME</div>
				</div>

			</li>

			<li class="list-item">
				<div class="list-item__left">
					<img class="list-item__thumbnail" src="/img/mypage.png" alt="Cute kitten">
					<div class="list-item__title">마이페이지</div>
				</div>

			</li>

			<li class="list-item">
				<div class="list-item__left">
					<img class="list-item__thumbnail" src="/img/history.png" alt="Cute kitten">
					<div class="list-item__title">히스토리</div>
				</div>

			</li>

			<li class="list-item">
				<div class="list-item__left">
					<img class="list-item__thumbnail" src="/img/setting.png" alt="Cute kitten">
					<div class="list-item__title">설정</div>
				</div>

			</li>

			<li class="list-item">
				<div class="list-item__left">
					<img class="list-item__thumbnail" src="/img/logout.png" alt="Cute kitten">
					<div class="list-item__title">로그아웃</div>
				</div>

			</li>
		</ul>

	</div>
</div>
<script>
	let jwt = { payload: JSON.parse(atob(localStorage.getItem('token').split('.')[1])) };
	var qrcode = new QRCode("qrcode", {
		text: jwt.payload.email,
		width: 128,
		height: 128,
		colorDark: "#000000",
		colorLight: "#ffffff",
		correctLevel: QRCode.CorrectLevel.H
	});

	function makeCode() {
		qrcode.makeCode(jwt.payload.email);

		$('.user-name-box').text(jwt.payload.email)
	}

	makeCode();

	if (location.pathname == '/home') {
		$('#home-menu').addClass('selected')
	}



	$('.page__content').click(() => {
		if ($('.drawer-section').is(':visible')) {
			$('.drawer-section').hide()
		}
	})


	$('.left').click(() => {
		$('.drawer-section').show()
	})

</script>