<img src="/img/logo_v1.svg" alt="I did it Logo" id="logo-main">
<div class="card" id="card-login">
	<form action="">
		<label for="input-id" class="input-idd">아이디</label>
		<ons-input input-id="input-id" class="input-idd"></ons-input>
		<label for="input-password" class="input-idd">
			비밀번호
			<a href="" class="a-right">비밀번호를 잊으셨나요?</a>
		</label>
		<ons-input type="password" input-id="input-password" class="input-idd"></ons-input>
	</form>
	<ons-button modifier="large">Sign in</ons-button>
	<a href="" class="a-center">회원 가입</a>
</div>