<ons-page class="register">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button>&times;</ons-toolbar-button>
		</div>
		<div class="center bold">회원가입</div>
	</ons-toolbar>
	<ons-progress-bar id="progress-signup" value="10"></ons-progress-bar>
	<section class="phase phase-1">
		<div class="central">
			<h2>서비스 이용약관 및 개인정보 처리방침 동의</h2>
			<!--<div class="check">
                <label class="left">
                    <ons-checkbox input-id="check-all"></ons-checkbox>
                </label>
                <label for="check-all" class="center">
                    서비스 이용약관 및 개인정보 처리방침에 모두 동의함
                </label>
            </div>-->
		</div>
		<ons-card>
			<h3>1. I did it 이용약관(필수)</h3>
			<div class="textbox">
				본 약관은 회원(서비스 약관에 동의한 자를 말합니다. 이하 "회원"이라고 합니다.)이 I did it(이하 "회사"라고 합니다.)가 제공하는 DID를 활용한 운전면허증과 B2B 솔루션 서비스(이하 "서비스"라고 합니다.)를 이용함에 있어 회사와 회원의 권리, 의무 및 책임사항, 서비스 이용조건 및 절차 등 기본적인 사항을 규정함을 목적으로 합니다.
			</div>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-0" onclick="check(0)"></ons-checkbox>
				</label>
				<label for="check-0" class="center">
					I did it 이용약관에 동의함
				</label>
			</div>
			<h3>2. 위치기반 서비스 이용 약관(필수)</h3>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-1" onclick="check(1)"></ons-checkbox>
				</label>
				<label for="check-1" class="center">
					위치기반 서비스 이용 약관에 동의함
				</label>
			</div>
			<h3>3. 개인정보 수집/이용 동의(필수)</h3>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-2" onclick="check(2)"></ons-checkbox>
				</label>
				<label for="check-2" class="center">
					개인정보 수집/이용에 동의함
				</label>
			</div>
			<h3>4. 회원 이용 약관(필수)</h3>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-3" onclick="check(3)"></ons-checkbox>
				</label>
				<label for="check-3" class="center">
					개인정보 수집/이용에 동의함
				</label>
			</div>
		</ons-card>
	</section>
	<section class="phase phase-2" style="display: none;">
		<h2 class="central">이메일과 비밀번호를 입력해주세요</h2>
		<ons-card>
			<form action="">
				<label for="input-id" class="input-idd">이메일</label>
				<ons-button id="button-check-duplicate" style="float: right; background-color: #2CC2A5; font-size: 13px; padding: 2px 10px;position: relative;z-index: 1000000000;">중복 확인</ons-button>
				<ons-input input-id="input-id" class="input-idd with-confirm" placeholder="이메일을 입력해주세요"></ons-input>
				<label for="input-password" class="input-idd">비밀번호</label>
				<ons-input input-id="input-password" class="input-idd" placeholder="영문, 숫자, 특수문자 포함 8자 이상 입력" type="password"></ons-input>
				<label for="input-password-repeat" class="input-idd">비밀번호 확인</label>
				<ons-input input-id="input-password-repeat" class="input-idd" placeholder="영문, 숫자, 특수문자 포함 8자 이상 입력" type="password" onkeyup="checkPassword()"></ons-input>
			</form>
		</ons-card>
	</section>
	<section class="phase phase-3" style="display: none;">
		<h2 class="central">휴대폰 본인인증을 해주세요</h2>
		<ons-card>
			<div class="btn-group">
				<ons-button class="selected">SKT</ons-button>
				<ons-button>KT</ons-button>
				<ons-button>LGU+</ons-button>
				<ons-button>알뜰폰</ons-button>
			</div>
			<label for="input-phone" class="input-idd">휴대폰 번호</label>
			<ons-button id="button-phone-auth" style="float: right; background-color: #2CC2A5; font-size: 13px; padding: 2px 10px;position: relative;z-index: 1000000000;">인증번호 받기</ons-button>
			<ons-input input-id="input-phone" class="input-idd with-confirm" placeholder="-없이 숫자만 입력"></ons-input>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-1p"></ons-checkbox>
				</label>
				<label for="check-1p" class="center">
					개인정보 수집/이용 (필수)
				</label>
			</div>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-2p"></ons-checkbox>
				</label>
				<label for="check-2p" class="center">
					고유식별정보처리 (필수)
				</label>
			</div>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-3p"></ons-checkbox>
				</label>
				<label for="check-3p" class="center">
					통신사 이용약관 (필수)
				</label>
			</div>
			<div class="check">
				<label class="left">
					<ons-checkbox input-id="check-4p"></ons-checkbox>
				</label>
				<label for="check-4p" class="center">
					서비스 이용약관 (필수)
				</label>
			</div>
		</ons-card>
	</section>
	<section class="phase phase-4" style="display: none;">
		<h2 class="central">운전면허증 등록</h2>
		<ons-card>
			<div class="two-big-div">
				<div class="btn-camera">
					<img src="/img/camera.png">
					<h2>직접 촬영</h2>
					<small>운전면허증을 정방향으로 직접 촬영하여 등록해주세요.</small>
				</div>
				<div class="btn-album">
					<img src="/img/photo.png">
					<h2>앨범에서 선택</h2>
					<small>이전에 촬영한 운전면허증을 앨범으로부터 불러옵니다.</small>
				</div>
			</div>
			<p style="font-size: 12px;">
				※너무 기울어진 이미지는 사용하실 수 없습니다. <br>
				※제출한 이미지는 본인확인 이외에는 사용되지 않습니다.
			</p>
		</ons-card>
	</section>
	<section class="phase phase-5" style="display: none;">
		<div class="central">
			<h2>얼굴 인식</h2>
			<p>
				보안 강화와 위변조, 부정 사용 방지를 위해 얼굴인식을 사용하고 있습니다. <br>
				얼굴 이미지는 검증 이후 즉시 파기됩니다.
			</p>
		</div>
	</section>
	<input type="file" id="input-image" style="display: none;" accept="image/*">
	<input type="file" id="input-face" style="display: none;" accept="image/*" capture="user">
	<ons-button modifier="large" class="button-next" disabled onclick="changePhase()">다음</ons-button>
</ons-page>
<ons-page class="loading">
	<h1>
		운전면허증을 <br>
		해싱값으로 변환중입니다
	</h1>
	<ons-progress-circular indeterminate style="margin-top: 40px"></ons-progress-circular>
	<h2>잠시만 기다려주세요</h2>
</ons-page>
<ons-page class="end">
	<img src="/img/logo_v2.svg" alt="I did it" style="width: 95px; height: auto; margin: 100px auto 60px">
	<h1 style="margin-bottom: 40px">
		축하드립니다! <br>
		I did it 가입을 완료하였습니다
	</h1>
	<ul>
		<li>유효한 운전면허증으로 확인됐습니다.</li>
		<li>얼굴인식이 93%로 일치합니다.</li>
		<li>모바일 운전면허증이 블록체인 상에 기록되었습니다.</li>
		<li>운전면허 및 이미지를 포함한 모든 개인정보를 파기했습니다.</li>
	</ul>
	<div class="bottom">
		<h2>완전히 탈중앙화된 인증 서비스로 다양한 서비스를 즐겨보세요</h2>
		<ons-button modifier="large" class="button-next">완료</os-button>
	</div>
</ons-page>
<script>
let phase = 1;
let isCheck = [false, false, false, false];

function changePhase() {
    phase++;
	if(phase < 6) {
		$('.phase').hide();
		$('.phase-' + phase).show();
		document.querySelector('#progress-signup').value = -10 + phase * 20;
		document.querySelector('.button-next').disabled = (phase < 5);
	}
	else {
		$('#input-face').trigger('click');
	}
}
function check(num) {
	isCheck[num] = $('#check-' + num).is(':checked');
	document.querySelector('.button-next').disabled = !(isCheck[0] && isCheck[1] && isCheck[2] && isCheck[3]);
}
$('#button-check-duplicate').click(() => {
    console.log('클릭');
	let btn = document.querySelector('#button-check-duplicate');
	btn.disabled = true;
	btn.innerHTML = '확인 완료';
});
function checkPassword() {
    let rp = $('#input-password-repeat').val();
	document.querySelector('.button-next').disabled = !(rp && rp === $('#input-password').val());
}
$('.btn-group>ons-button').click(function() {
	$('.btn-group>ons-button').removeClass('selected');
	$(this).addClass('selected');
});
$('#button-phone-auth').click(() => {
	document.querySelector('.button-next').disabled = false;
});
$('.btn-camera').click(() => {
    $('#input-image').attr('capture', 'environment').trigger('click');
});
$('.btn-album').click(() => {
	$('#input-image').removeAttr('capture').trigger('click');
});
$('#input-image').change(() => {
	changePhase();
});
$('#input-face').change(() => {
	$('ons-page.register').hide();
	$('ons-page.loading').show();
	// 백엔드와 Ajax 통신 여기서, 임시로 setTimeout으로 설정
	$.post('/auth/signup', {
	    email: $('#input-id').val(),
		password: $('#input-password').val(),
		phoneNumber: $('#input-phone').val()})
	.then(() => {
		$('ons-page.loading').hide();
		$('ons-page.end').show();
	}, () => {
		ons.notification.alert('오류 발생!');
	});
});
</script>