@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    font-family: 'Spoqa Han Sans', sans-serif !important;
}
.bold {
    font-weight: bold;
}
body {
    background-color: #f4f6fc;
    font-size: 14px;
    color: #2E384D;
}
.page, .page__background, .page__content {
    background-color: inherit;
}
#logo-main {
    position: relative;
    top: 80px;
    margin: 0 auto;
    display: block;
    width: 90px;
    height: auto;
}
#card-login {
    position: absolute;
    bottom: 50px;
    left: 10px;
    right: 10px;
}
#card-login form {
    margin-bottom: 45px;
}
#card-login a {
    color: #B0BAC9;
    font-size: 12px;
    text-decoration: none;
}
.input-idd {
    display: block;
}
.input-idd>input {
    background-color: #E0E7FF33;
    border: 1px solid #e0e7ff;
    border-radius: 3px;
    padding: 20px 18px 15px;
    width: 100%;
}
ons-input.input-idd {
    margin-bottom: 15px;
}
label.input-idd {
    color: #B0BAC9;
    margin: 7px 0;
}
.input-idd>.a-right {
    float: right;
    position: relative;
    top: 4px;
}
.a-center {
    display: block;
    margin-top: 10px;
    text-align: center;
}
#progress-signup {
    margin: 40px 10px;
}
.central {
    text-align: center;
}
.central h2, h2.central {
    font-size: 18px;
    font-weight: bold;
}
.check {
    margin: 10px;
}
.check label {
    font-size: 12px;
    font-weight: 300;
    vertical-align: text-top;
}
.card h3 {
    font-size: 14px;
}
.textbox {
    border: 1px solid #E0E7FF;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 300;
}
.button-next {
    margin: 60px 30px 20px;
    width: initial;
}
.register ons-card {
    margin-top: 35px;
}
.with-confirm #input-id {
    width: calc(100% - 80px);
}
.btn-group>ons-button {
    width: 24%;
    text-align: center;
    margin: 0;
    background-color: #F9FAFF;
    border: 1px solid #E0E7FF;
    border-radius: 3px;
    color: #AFAFAF;
    padding: 15px auto;
    font-size: 14px;
}
.btn-group>ons-button.selected {
    background-color: #2E5BFF;
    color: #FFF;
}
.with-confirm #input-phone {
    width: calc(100% - 95px);
}
.two-big-div>div {
    display: inline-block;
    width: 42%;
    padding: 25px 10px;
    border: 1px solid #2E5BFF88;
    border-radius: 3px;
    text-align: center;
}
.two-big-div>div>img {
    width: 45px;
    height: 45px;
}
.two-big-div>div>h2 {
    font-size: 16px;
}
.two-big-div>div>small {
    color: #8798AD;
    font-size: 12px;
}
ons-page.loading, ons-page.end {
    display: none;
    text-align: center;
}
ons-page.loading h1 {
    font-size: 20px;
    margin-top: 200px;
}
ons-page.loading h2 {
    font-size: 18px;
    color: #B0BAC9;
}
ons-page.end h1 {
    font-size: 20px;
}
ons-page.end ul {
    font-size: 12px;
    font-weight: 300;
    list-style-type: none;
    position: absolute;
    left: 30px;
    right: 40px;
    text-align: left;
    word-break: keep-all;
}
ons-page.end li {
    background: url("/img/check.png") no-repeat;
    background-size: 18px;
    padding-left: 26px;
    margin: 6px;
}
ons-page.end .bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
ons-page.end .bottom h2 {
    font-size: 12px;
}
ons-page.end .bottom .button-next {
    margin-top: 10px;
}